@* @model IEnumerable<Entity_Framework_Stored_Proc_MVC.Stylist> *@
@using HairSalon.Models;

@model IEnumerable<HairSalon.Models.Stylist>
 
@{
    Layout = null;
}
 
<!DOCTYPE html>
 
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Eau Claire's</title>
</head>
<body>
    @using (Html.BeginForm("Index", "Home", "Stylist", FormMethod.Post))
    {
        <span>Stylist Name:</span> @Html.TextBox("Name")
        <input type="submit" value="Search"/>
        <br/>
        <br/>
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th>StylistId</th>
                <th>Name</th>
            </tr>
            @foreach (Stylist stylist in Model)
            {
                <tr>
                    <td>@stylist.StylistId</td>
                    <td>@stylist.Name</td>
                </tr>
            }
        </table>
    }
</body>
</html>

@* @{
  Layout = "_Layout";
}

<h2>EAU CLAIRE'S SALON</h2>
<hr />
<p>Welcome to Eau Claire's. Please start by adding or selecting a Stylist. Clients can only be added to individual Stylists. Thank you!</p>
<hr />

<p class="fancyBtn">@Html.ActionLink("Add Stylist", "Create", "Stylists")</p>
<p class="fancyBtn">@Html.ActionLink("Search by Stylist", "Index", "Stylists")</p> *@

