@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Add a Stylist</h2>

<p><strong>Add a stylist to this task: </strong>@Html.DisplayFor(model => model.Name)</p>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ClientId)

  @Html.Label("Select stylist")
  @Html.DropDownList("StylistId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>